<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Denial Of Service - Cyber Ddos</title>
  <link rel="stylesheet" href="./static/css/style_index.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/prefixfree/1.0.7/prefixfree.min.js"></script>

</head>
<body>
<!-- partial:index.partial.html -->
<form id="searchform" action = "/ddos" method = "post">
  <h1>Cyber DDOS by XMLRPC Botnet </h1>
  <span>Enter a Website or IP:http* you want to DDOS: </span>
  <input type="text" name="url" id="search-bar" autocomplete="off" />
    <ul class="output" style="display:none;">
    </ul>
  <input type="submit" id="submit" value = "Submit" />
  <p>This is a cyber tool for DDOS. It suggests possible DDOS an any website with thousand payload, but for my purposes is education about DDOS.</p>
  <p>If you are concerned about this project, please contact me via thanhlm120797@gmail.com for more tools of Cyber Security.</p>
</form>


<link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400|Patua+One' rel='stylesheet' type='text/css'>
<!-- partial -->
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script><script  src="./static/js/script.js"></script>

</body>
</html>
